USE [master]
GO
/****** Object:  Database [ESTOQUE]    Script Date: 20/03/2015 17:35:18 ******/
CREATE DATABASE [ESTOQUE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESTOQUE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ESTOQUE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ESTOQUE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ESTOQUE_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESTOQUE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESTOQUE]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 20/03/2015 17:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemVenda]    Script Date: 20/03/2015 17:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemVenda](
	[coditmvenda] [int] IDENTITY(1,1) NOT NULL,
	[codvenda] [int] NULL,
	[codpro] [int] NULL,
	[quantidade] [float] NULL,
	[valor] [float] NULL,
 CONSTRAINT [PK_ItemVenda] PRIMARY KEY CLUSTERED 
(
	[coditmvenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 20/03/2015 17:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produtos](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NULL,
	[valor] [float] NULL,
	[quantidade] [float] NULL,
	[validade] [datetime] NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 20/03/2015 17:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[codvenda] [int] IDENTITY(1,1) NOT NULL,
	[data] [datetime] NULL,
	[cliente] [int] NULL,
 CONSTRAINT [PK_Venda] PRIMARY KEY CLUSTERED 
(
	[codvenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Produtos] ON 

INSERT [dbo].[Produtos] ([codigo], [descricao], [valor], [quantidade], [validade]) VALUES (1, N'Arroz', 14, 142, CAST(N'2015-04-12 00:00:00.000' AS DateTime))
INSERT [dbo].[Produtos] ([codigo], [descricao], [valor], [quantidade], [validade]) VALUES (2, N'Parafuso', 4.3, 201, CAST(N'2014-03-12 00:00:00.000' AS DateTime))
INSERT [dbo].[Produtos] ([codigo], [descricao], [valor], [quantidade], [validade]) VALUES (3, N'Mouse', 56, 45, CAST(N'2017-05-05 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Produtos] OFF
ALTER TABLE [dbo].[ItemVenda]  WITH CHECK ADD  CONSTRAINT [FK_ItemVenda_Produto] FOREIGN KEY([codpro])
REFERENCES [dbo].[Produtos] ([codigo])
GO
ALTER TABLE [dbo].[ItemVenda] CHECK CONSTRAINT [FK_ItemVenda_Produto]
GO
ALTER TABLE [dbo].[ItemVenda]  WITH CHECK ADD  CONSTRAINT [FK_ItemVenda_Venda] FOREIGN KEY([codvenda])
REFERENCES [dbo].[Venda] ([codvenda])
GO
ALTER TABLE [dbo].[ItemVenda] CHECK CONSTRAINT [FK_ItemVenda_Venda]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Venda] FOREIGN KEY([cliente])
REFERENCES [dbo].[Cliente] ([codigo])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Cliente_Venda]
GO
USE [master]
GO
